@page
@model FitnessAndNutritionApp.Pages.Company.AboutUsModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - NutriFit</title>
    <link href="~/css/AboutUs/aboutUs.css" rel="stylesheet" />
</head>
<body>
    <div class="content-container">
        <!-- About Company Section -->
        <div class="content-section">
            <div class="text-container">
                <h2>About Our Company</h2>
                <p>At the core of our vision lies a dedicated team of fitness and nutrition experts, each with a passion for empowering individuals on their journey to wellness. Our company is founded on the principles of innovation, community, and unwavering support. We believe that achieving one's health goals is a holistic process that extends beyond the gym and the kitchen—it's a lifestyle cultivated through guidance, education, and the right tools at your fingertips. Our commitment to excellence is matched only by our commitment to you, ensuring that every aspect of your wellness journey is met with expertise and care. As architects of this digital health revolution, we stand ready to guide you to a fitter, healthier, and more vibrant life.</p>
                <div class="image-container2">
                    <img src="~/resources/AboutUs/join.jpg" alt="Our Company" />
                </div>
            </div>
            <div class="image-container">
                <img src="~/resources/AboutUs/hand.jpg" alt="Our Company" />
            </div>
        </div>

        <!-- About Fitness Section -->
        <div class="content-section">
            <div class="text-container">
                <h2>Our Fitness Philosophy</h2>
                <p>Step into our Fitness Zone, where each movement is a milestone on your ascent to excellence. Here, every repetition is a stride towards the summit of your personal best. Our personalized training plans are crafted to map your journey of transformation — with every drop of sweat charting the narrative of your dedication. Whether sculpting a leaner silhouette, forging new strength, or honoring your body’s harmony, let our expert guidance illuminate your path. Discover the artistry behind each exercise with our wealth of educational resources. With each session, draw nearer to the zenith of well-being. Embrace the power to surpass your former self. This is where progress reigns and fitness dreams crystallize into your reality.</p>
                <div class="image-container2">
                    <img src="~/resources/AboutUs/runner.jpg" alt="Our Company" />
                </div>
            </div>
            <div class="image-container">
                <img src="~/resources/AboutUs/woman.jpg" alt="Fitness" />
            </div>
        </div>

        <!-- About Nutrition Section -->
        <div class="content-section">
            <div class="text-container">
                <h2>Our Nutrition Philosophy</h2>
                <p>Nourish your body and fuel your spirit in our Nutrition Zone, where each meal is a building block for a vibrant you. Tailored to your unique lifestyle, our comprehensive nutrition plans are not just diets, but a symphony of flavors designed to elevate your wellbeing. Expert nutritionists have meticulously curated a selection of meal plans to power both your physical transformations and your daily vigor. Explore educational resources that unravel the science behind each bite, cultivating a wisdom that extends from the plate to your palate. Here, we merge wholesome ingredients with culinary delight, crafting a nutrition journey that’s as delicious as it is beneficial. Welcome to a world where every meal is a step towards a more nourished self.</p>
                <div class="image-container2">
                    <img src="~/resources/AboutUs/vegetables.jpg" alt="Our Company" />
                </div>
            </div>
            <div class="image-container">
                <img src="~/resources/AboutUs/meal.jpg" alt="Nutrition" />
            </div>
        </div>
    </div>
</body>
</html>