@page
@model FitnessAndNutritionApp.Pages.NutritionPlanDetails.PlanDetailsModel
@{
    Layout = "_Layout";
}

<h1>Plan Details</h1>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>
<p>This is your plan details page.</p>