body {
    padding-top: 100px;
}

.meal-content-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.2em;
}

.centered-heading {
    text-align: center;
    margin-bottom: 20px;
}

.meal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.meal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.meal-ingredients-container {
    flex: 1;
    white-space: normal;
    text-align: justify;
}

    .meal-ingredients-container h2,
    .meal-preparation-container h2 {
        font-size: 2em;
        margin-bottom: 15px;
        color: #2b2b2b;
    }

.meal-ingredients,
.meal-preparation {
    font-size: 1.3em;
    line-height: 1.8;
    color: #4b4b4b;
    text-align: justify;
}

.meal-preparation-container {
    margin-top: 40px;
}

@media (max-width: 1111px) {
    .meal-details {
        flex-direction: column;
    }

    .meal-image {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .meal-ingredients-container {
        max-width: 100%;
    }
}

@media (max-width: 770px) {
    body {
        padding-top: 0px;
    }

    .meal-content-container {
        width: 95%;
        padding-top: 100px;
    }

    .centered-heading {
        font-size: 2em;
    }

    .meal-ingredients,
    .meal-preparation {
        font-size: 1.2em;
    }

    .meal-ingredients-container,
    .meal-preparation-container {
        padding: 10px;
    }
}
