@page
@model IndexModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Fitness and Nutrition</title>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="home-container">
        <div class="background-image">
            <div class="overlay">
                <div class="center-text">
                    <p>I know it's hard to keep both in the balance, that's why we're here to help</p>
                </div>
                <div class="button-container">
                    <div class="overlay-content left-content">
                        <h1>Start your fitness journey</h1>
                        <a href="/Fitness/ChoosePlan" class="btn">Let's do it</a>
                    </div>
                    <div class="overlay-content right-content">
                        <h1>Start your nutrition journey</h1>
                        <a href="/Nutrition/ChoosePlan" class="btn">Let's do it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
