@page
@model FitnessAndNutritionApp.Pages.Auth.ResetPasswordConfirmationModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Successful</title>
    <link href="~/css/Authentication/resetPasswordConfirmation.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2 class="confirmation-title">Password Reset Successful!</h2>
        <p class="confirmation-message">Your password has been reset. You can now log in with your new password.</p>
        <p class="login-link"><a href="./Login">Log in</a></p>
    </div>
</body>
</html>
